/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

img.img1 {
    border-radius: 100px;
}

/* nav{
    position: fixed;
     left: 50px; 
} */

nav ul {
    list-style: none;
    text-align: end;
    padding: 30px;
    background-color: cyan;
    /* position: sticky;
    top: 50px; */
}

nav li {
    display: inline;
    padding: 20px;

}

nav li:hover {
    cursor: grab;
}

header {
    background-color: yellow;
}

/* .nav_element:hover{
    color: red;
    cursor: pointer;
} */

/* #education{
    padding: 150px;
} */

/* . container img1{
    float: left;
}

.container{
    border: 2px solid red;
} */